<%- include('../../_layouts/admin_header') %>

<h2 class="page-title mt-4">Edit Page</h2>
<a href="/admin/pages" class="btn btn-primary">Back to All Pages</a>
<br /><br />

<form action="/admin/pages/edit/<%= slug %>" method="post">
  <div class="form-group">
    <label for="Title">Title</label>
    <input type="text" class="form-control" name="title"
      value="<%= title %>" placeholder="Title" />
  </div>

  <div class="form-group">
    <label for="Slug">Slug</label>
    <input type="text" class="form-control" name="slug" value="<%= slug %>"
      placeholder="Slug" />
  </div>

  <div class="form-group">
    <label for="Content">Content</label>
    <textarea id="ta" name="content" class="form-control" cols="30" rows="10"
      placeholder="Content"><%= content %></textarea>
  </div>

  <input type="hidden" name="id" value="<%= id %>" />
  <button type="submit" class="btn btn-outline-secondary">Submit</button>
</form>

<%- include('../../_layouts/admin_footer') %>
