<%- include('../../_layouts/admin_header') %>

<h2 class="page-title mt-4">Pages</h2>
<a href="/admin/pages/new" class="btn btn-primary">Add a New Page</a>
<br /><br />

<table class="table table-striped sorting">
  <thead>
    <tr class="home">
      <th>Title</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% pages.forEach(page => { %>
      <tr id="id_<%= page._id %>" class="<%= page.slug %>">
        <td><%= page.title %></td>
        <td><a href="/admin/pages/edit/<%= page.slug %>">Edit</a></td>
        <% if (page.slug === 'home') { %>
          <td></td>
        <% } else { %>
          <td><a href="/admin/pages/<%= page._id %>">Delete</a></td>
        <% } %>
      </tr>
    <% }); %>
  </tbody>
</table>

<script src="/jquery-ui-dist/jquery-ui.min.js"></script>
<script>
  $('tbody').sortable({
    items: "tr:not('.home')",
    placeholder: "ui-state-highlight",
    update: () => {
      const ids = $('tbody').sortable('serialize');
      const url = '/admin/pages/reorder';
      $.post(url, ids);
    }
  });
</script>

<%- include('../../_layouts/admin_footer') %>
